.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:60px;
    margin: 40px 170px;
}
.services-title{
    position:relative;

}
/* .services-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 300;
} */
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
    margin-bottom: 80px;
}
.service-container h3{
    font-size: 20px;
    width:100%;
    font-weight: 700;
  
}
.service-container h2{
    font-size: 20px;
    font-weight: 300;
    background: linear-gradient(270deg, #Df8908 50%, #8415FF 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 17px;
    line-height: 40px;
    min-width: 200px;
    max-width: 300px;
}
.service-readmore{
    display: flex;
    gap: 3px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg,#230323,#8415FF);
    transform: scale(1.05);
    transition: 0.4s;
}
