
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 40px 170px;
}
.services-title {
  position: relative;
}
.services-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 300;
}
.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 60px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
}
.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 80px;
}
.service-container h3 {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
}
.service-container h2 {
  font-size: 20px;
  font-weight: 300;
  background: linear-gradient(270deg, #df8908 50%, #8415ff 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-format p {
  color: #d4d4d4;
  font-size: 17px;
  line-height: 40px;
  min-width: 200px;
  max-width: 300px;
}
.service-readmore {
  display: flex;
  gap: 3px;
  align-items: center;
  margin-top: 20px;
}
.services-format:hover {
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg, #230323, #8415ff);
  transform: scale(1.05);
  transition: 0.4s;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  /* Large Screens */
  .services {
    margin: 40px 100px;
  }
}

@media (max-width: 992px) {
  /* Medium Screens */
  .services {
    margin: 40px 80px;
  }
  .service-container {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .services-format {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  /* Small Screens */
  .services {
    align-items: flex-start;
    gap: 40px;
    margin: 30px 50px;
  }
  .services-title h1 {
    font-size: 40px;
    padding: 0;
  }
  .services-title img {
    width: 100px;
    margin-right: -20px;
  }
  .services-format {
    gap: 15px;
    padding: 32px;
  }
  .services-format h2 {
    font-size: 20px;
  }
  .services-format p {
    font-size: 18px;
    line-height: 25px;
  }
  .service-container {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;
  }
  .service-readmore img {
    width: 20px;
  }
}

@media (max-width: 576px) {
  /* Extra Small Screens */
  .services {
    align-items: flex-start;
    gap: 30px;
    margin: 20px 20px;
  }
  .services-title h1 {
    font-size: 30px;
    padding: 0;
  }
  .services-title img {
    width: 80px;
    margin-right: -20px;
  }
  .services-format {
    gap: 10px;
    padding: 18px;
  }
  .services-format h2 {
    font-size: 15px;
  }
  .services-format p {
    font-size: 14px;
    line-height: 20px;
  }
  .service-container {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }
  .service-readmore img {
    width: 10px;
  }
}
