.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35;
    padding: 5;
    
}

.hero img{
    margin-top: 100px;
}
.hero h2{
    text-align: center;
    width: 70%;
    font-size: 23px;
    margin-top: 7px;
    color:  #a0a0a0;
    /* font-family: 'Concert One'; */
    
   
}
.hero p{
    text-align: center;
    width: 70%;
    font-size:20px;
    line-height: 40px;
    color:  #a0a0a0;
   
}
.hero-action{
    align-items: center;
    display: flex;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
    

}
.hero h2 span{
    background: linear-gradient(90deg, #00ff00 0%, #008000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* font-family: 'Concert One'; */
    
}
.hero-connect{
    padding: 15px 35px;
    border-radius: 50px;
    background: linear-gradient(90deg, #00ff00 0%, #008000 100%);
    cursor: pointer;
}
.hero-resume{
    padding: 15px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid    #a0a0a0;
}
.hero-resume:hover{
    border: 2px solid    #a0a0a0;
}

@media(max-width:768px){
    .hero img{
        margin-top: 60px;
        margin-bottom: 20px;
        width: 260px;
    }
    .hero h1{
       margin-top: 50px;
       width: 90%;
       font-size: 50px; 
    }
    .hero p{
        width: 60%;
        font-size: 13px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 10px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 10px 40px;
        border-radius: 40px;
    }
}