.my-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
/* .my-work .image{
    width:350px
} */
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 500;
    color:#a0a0a0;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
}
.mywork-container img{
    box-sizing: border-box;
    /* height: 280px; */
    /* width: 419px; */
    transition: 0.3s;
    cursor: pointer;
    width:400px;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 1px solid  #a0a0a0;
    border-radius: 10px;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid  #a0a0a0;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    transform: scale(1.13);
    transition: 0.6s;
    border: 1px solid   #a0a0a0;
}

@media(max-width:768px){
    .my-work{
        gap:40px;
        margin: 30px 50px;
        align-items: start;
    }
    .mywork-title h1{
       padding: 0;
       font-size: 30px;
       font-weight: 500;
    }
    .mywork-title img{
        width: 100px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 15px 30px;
        font-size: 15px;
        margin: 30 auto;
        cursor: pointer;
    }
}