.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    /* cursor: pointer; */

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 17px;
    margin-left: 20px;
   

}
.nav-connect{
    padding: 10px 30px;
    border-radius: 50px;
    background: blueviolet;
    /* background: linear-gradient(267deg, #DA7C25 0.36% #8923E1 102.06%); */
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.nav-mob-open{
   display: none;
}
.nav-mob-close{
    display: none;
}

@media(max-width:768px){
    navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed; 
        right: 20px;
        cursor: pointer;
        /* margin-left: 300px;  */
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 23px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}