
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    font-family: 'Concert One';
    /* cursor: pointer; */

}
.logo {
    font-family: 'Concert One';
    font-size: 25px;
    margin-top: -15px;
    margin-right: 30px;
    background: linear-gradient(90deg, #00ff00 0%, #00b300 50%, #008000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 17px;
    margin-left: 20px;
    color:#a0a0a0;
   

}
.nav-connect{
    padding: 10px 30px;
    border-radius: 50px;
     background: linear-gradient(90deg, #00ff00 0%, #00b300 50%, #008000 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    
}
.nav-menu li img{
    display: flex;
    margin: auto;
}
.nav-mob-open{
   display: none;
}
.nav-mob-close{
    display: none;
}

@media(max-width:768px){
    navbar{
        margin: 20px 50px;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed; 
        right: 20px;
        cursor: pointer;
        /* margin-left: 300px;  */
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 180px;
        width: 30px;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #006400;
        width: 220px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 23px;
        padding-left: 50px;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}